@import "tailwindcss";

@theme {
  --color-dark: #070709;
  --color-stability: #4f46e5;
  --color-chaos: #991b1b;
  --color-knowledge: #d4af37;
  --color-primary-old: #d4af37;
  --font-heading: 'Cinzel Decorative', serif;
  --font-body: 'EB Garamond', serif;
  --animate-glitch: glitch 1s linear infinite;

  @keyframes glitch {

    2%,
    64% {
      transform: translate(2px, 0) skew(0deg);
    }

    4%,
    60% {
      transform: translate(-2px, 0) skew(0deg);
    }

    62% {
      transform: translate(0, 0) skew(5deg);
    }
  }
}

@layer base {
  body {
    background-color: var(--color-dark);
    color: var(--color-gray-200);
    font-family: var(--font-body);
    margin: 0;
    overflow-x: hidden;
  }
}

.symbol-text {
  font-family: "Wingdings", "Webdings", sans-serif;
  letter-spacing: 0.2em;
}

.glitch-text {
  position: relative;
  display: inline-block;
}

.glitch-text::before,
.glitch-text::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #0a0a0c;
}

.glitch-text::before {
  left: 2px;
  text-shadow: -1px 0 red;
  clip: rect(24px, 550px, 90px, 0);
  animation: glitch-anim-2 3s infinite linear alternate-reverse;
}

.glitch-text::after {
  left: -2px;
  text-shadow: -1px 0 blue;
  clip: rect(85px, 550px, 140px, 0);
  animation: glitch-anim 2.5s infinite linear alternate-reverse;
}

@keyframes glitch-anim {
  0% {
    clip: rect(13px, 9999px, 86px, 0);
  }

  20% {
    clip: rect(44px, 9999px, 11px, 0);
  }

  40% {
    clip: rect(66px, 9999px, 81px, 0);
  }

  60% {
    clip: rect(32px, 9999px, 20px, 0);
  }

  80% {
    clip: rect(89px, 9999px, 55px, 0);
  }

  100% {
    clip: rect(2px, 9999px, 73px, 0);
  }
}

@keyframes glitch-anim-2 {
  0% {
    clip: rect(65px, 9999px, 100px, 0);
  }

  20% {
    clip: rect(15px, 9999px, 5px, 0);
  }

  40% {
    clip: rect(35px, 9999px, 50px, 0);
  }

  60% {
    clip: rect(75px, 9999px, 30px, 0);
  }

  80% {
    clip: rect(55px, 9999px, 80px, 0);
  }

  100% {
    clip: rect(25px, 9999px, 95px, 0);
  }
}